<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid" style="color:aquamarine">
      <h6>Music Search</h6>
      <ul class="navbar-nav" style="padding-right:75vw">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h6><a class="nav-link" style="color:aquamarine"a href="/">Search</a></h6>
          </li>
          <li class="nav-item">
            <h6><a class="nav-link"  style="color:aquamarine" href="/reviews">Reviews</a></h6>
          </li>
        </ul>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>